{% extends "base.html" %}
{% load static %}


{% block css_files %} 
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}


{% block title %}Home page {%endblock%}

<style>
    .notifyTitle {
        float: left;
        text-align: left;
        white-space: normal;
    }
</style>

{% block content %}


<div class="container container-fluid" id="app" style="margin-left:0px;padding-left:0px; padding-right:0px;">
    <h2 class="page-title" style="margin-left:15px;">{{xx}}</h2>
   <div class="row">
       <div class="col-md-2">

       </div>
       <div class="col-md-8" style="padding-left:0px; padding-right:0px;">
        <div class="col-md-12">
            <div>
                <input type="text" maxlength="150" style="width:stretch" class=" form-control" v-model="filter" placeholder="Duyurular arasında ara...">
            </div>
        </div>
        <br />
        <div class="col-md-12">
            {% for mail in mails %}
                
                <div id="mailsborder">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#xy{{mail.id}}" style="width: 100%; padding:6px; background-color: #26344B;"><p class="notifyTitle">{{mail.title }}</p><p>{{mail.is_active}}</p></button>
                    <div id="xy{{mail.id}}" class="collapse" data-parent="#app">
                        <p>
                            {{mail.content}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   </div>
</div>





<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}

{% block js_files %}
    <script src="{% static '/js/index.js' %}" ></script>
{% endblock %}

