{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}


{% block title %}Home page {%endblock%}

<style>
    .notifyTitle {
        float: left;
        text-align: left;
        white-space: normal;
    }
</style>

{% block content %}


<div class="container container-fluid" id="app" style="margin-left:0px;padding-left:0px; padding-right:0px;">
<div class="row" style="margin-top:100px;">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <form method="post">
      
      {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">input</label>
    Name:<input type="input" name = "name" class="form-control" id="exinput" aria-describedby="emailHelp" placeholder="Enter input">

  </div>

  <button  type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
<!--<h1>{{name}}</h1>-->
</div>





<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}

{% block js_files %}
    <script src="{% static '/js/index.js' %}" ></script>
{% endblock %}

