<nav class="navbar navbar-dark bg-primary navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">MailsAPP</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
           
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/spams">spam</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/regular">Regular</a>
            </li>
        </ul>
    </div>
</nav>