

<!--#python manage.py runserver-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/boostrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"> 

    {% block css_files %} {% endblock %}
    <title>
        {% block title %} {%endblock%} | mails
    </title>
   <style>
    
   </style>
</head>
<body>

    {% include 'partials/_navbar.html' %}
    
    {% if messages %}
                
    {% for message in messages %}
    {% if message.tags == "success" %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var m = "{{message}}";
    swal("Tebrikler !",m,"success")
    </script>
    {% else %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var m = "{{message}}";
    swal("Hata !",m,"error")
    </script>

    {% endif %}
    {% endfor %}

    {% endif %}

    {% block content %}

    {% endblock %}


    <script src="{% static 'js/boostrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

    {% block js_files %} {% endblock %}
</body>
</html>